.weatherResults
{
text-align: center;
background-color:aliceblue;
margin: 20px;
padding: 1px;
font-weight: bolder;
font-size: 18px;
justify-content:space-between;
display: flex;
}

.main {
  text-align: center;
}

.searchBar {
  text-align: center;
  margin: 15px;
  padding: 10px;
  text-decoration: blue;
}